{% extends_admingenerated "ManticoraPushNotificationBundle:MessageNew:index.html.twig" %}
{% block form_attributes %}
    <div class="tableholder">
    <table class="graybox" border="0" cellspacing="0" cellpadding="5">
    <caption class="tablecaption">
    <strong class="caption_number">Table 3-2</strong>
    &nbsp;&nbsp;Child properties of the <code>alert</code> property</caption>
    <tbody>
    <tr>
    <th scope="col" class="TableHeading_TableRow_TableCell"><p>Key</p></th>
    <th scope="col" class="TableHeading_TableRow_TableCell"><p>Value type</p></th>
    <th scope="col" class="TableHeading_TableRow_TableCell"><p>Comment</p></th>
    </tr>
    <tr>
    <td scope="row"><p><code>body</code></p></td><td><p>string</p></td><td><p>The text of the alert message.</p></td></tr>
    <tr><td scope="row"><p><code>action-loc-key</code></p></td>
    <td><p>string or <code>null</code></p></td>
    <td><p>If a string is specified, displays an alert with two buttons, whose behavior is described in <span class="content_text">Table 3-1</span>
    . However, iOS uses the string as a key to get a localized string in the current localization to use for the right button’s title instead of “View”. If the value is <code>null</code>, the system displays an alert with a single OK button that simply dismisses the alert when tapped. See <span class="content_text"><a href="http://developer.apple.com/library/mac/#//apple_ref/doc/uid/TP40008194-CH100-SW21">“Localized Formatted Strings”</a></span> for more information.</p></td>
    </tr>
    <tr><td scope="row"><p><code>loc-key</code></p></td><td><p>string</p></td><td><p>A key to an alert-message string in a <code>Localizable.strings</code> file for the current localization (which is set by the user’s language preference). The key string can be formatted with <code>%@</code> and <code>%</code><em>n</em><code>$@</code> specifiers to take the variables specified in <code>loc-args</code>. See <span class="content_text"><a href="http://developer.apple.com/library/mac/#//apple_ref/doc/uid/TP40008194-CH100-SW21">“Localized Formatted Strings”</a>
    </span> for more information.</p></td></tr><tr><td scope="row"><p><code>loc-args</code></p></td>
    <td><p>array of strings</p></td>
    <td><p>Variable string values to appear in place of the format specifiers in <code>loc-key</code>. See <span class="content_text"><a href="http://developer.apple.com/library/mac/#//apple_ref/doc/uid/TP40008194-CH100-SW21">“Localized Formatted Strings”</a></span> for more information.</p></td></tr>
    <tr><td scope="row"><p><code>launch-image</code></p></td>
    <td><p>string</p></td><td><p>The filename of an image file in the application bundle; it may include the extension or omit it. The image is used as the launch image when users tap the action button or move the action slider. If this property is not specified, the system either uses the previous snapshot,uses the image identified by the <code>UILaunchImageFile</code> key in the application’s <code>Info.plist</code> file, or falls back to <code>Default.png</code>.</p><p>This property was added in iOS 4.0.</p></td></tr>
    </tbody>
    </table>
    </div>
    
    {{  parent() }}
{% endblock %}